.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
}

.section-title {
  max-width: 60%;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 1;
}

.section-subtitle {
  margin: 0;
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
